.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  gap: .5rem; 
}

.btn {

  &-credentials {
    width: 12rem;
    height: 3rem;
    background-color: #191a1a;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
  }

  &-credentials:hover {
    background-color: #464648;
  }

  &-save:hover {
    background-color: #0c5d47;
  }

  &-save{
    width: 12rem;
    height: 3rem;
    background-color: #0a4b3a;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
  }

  &-update {
    width: 12rem;
    height: 3rem;
    background-color: #214658;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
  }

  &-update:hover {
    background-color: #2a5c6e;
  }
}

details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  summary {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #191a1a;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 1rem;
  }  
}